In [ ]:
#BASIC LEVEL

In [1]:
#Q1.
x=range(11)

In [1]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
#Q2.
b1=[10,12,14,15,17,18,19]
total_sum=0
for i in b1:
    total_sum += i
print(f"the sum of al no. is : {total_sum}")

the sum of al no. is : 105

In [18]:
#Q3.
r='i love my country'
for i in r[::-1]:
    print(i,end=' ')

y r t n u o c   y m   e v o l   i

In [5]:
#Q4
number=int(input())
factoriL=1
for i in range(1,number+1):
    factoriL*=i
print(f"The factoril of enter no.{number} is : {factoriL}")

The factoril of enter no.5 is : 120

In [33]:
#Q5
for i in range(1,6):
    for j in range(1,6):
        print(i*j,end=' ')
    print()

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [24]:
#Q6.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_count = 0
odd_count = 0
for num in numbers:
    if num % 2 == 0:
        even_count+=1
    else:
        odd_count += 1
print("Number of even numbers:", even_count)
print("Number of odd numbers:", odd_count)

Number of even numbers: 5
Number of odd numbers: 5

In [29]:
#Q7.
for num in range(1,6):
    square=num*num
    print(f'The square of {num}: is {square}' )

The square of 1: is 1
The square of 2: is 4
The square of 3: is 9
The square of 4: is 16
The square of 5: is 25

In [5]:
#Q8.
def string_length(s):
    count = 0
    for char in s:
        count += 1
    return count

# Input a string
input_string = input("Enter a string: ")

# Calculate and print the length of the string
length = string_length(input_string)
print(f"Length of the string: {length}")

Length of the string: 16

In [7]:
#Q9.
numbr=[10,15,20,25,30]
all=sum(numbr)
average= all/len(numbr)
print(f"The average length of number is {average}")

The average length of number is 20.0

In [4]:
#Q10.
fibo_num=int(input())
fibo=[0,1]
for i in range(2,fibo_num):
    next_term=fibo[i-1]+fibo[i+1]
    fibo.append(next_term)
print("fibonacci_sequence")
for n in fibo:
    print(f"{n}")

fibonacci_sequence
0
1

In [21]:
#Q11.
my=['ankit','ankit',1,2,2,4,5]
if len(my) !=len(set(my)):
    print("The list contains duplicates.")
else:
    print("The list does not contain duplicates.")

The list contains duplicates.

In [17]:
#Q12.
start=int(input())
end=int(input())
if start > end :
    print("invalid number")
else:
    print("here is the list of all prime no. from start to end ")
    for num in range(start,end,+1):
        if num >1:
            is_prime=True
            for i in range(2,int(num**0.5)+1):
                if num % i == 0:
                    is_prime=False
            if is_prime:
                print(num)

here is the list of all prime no. from start to end
2
3
5
7

In [21]:
#Q13.
a2='my name is ankit'
vowel_count=0
vowel_found=[]
vowel="a,e,i,o,u"
for char in a2:
    if char in vowel:
        vowel_count+=1
        vowel_found.append(char)
print(f"The vowel count is {vowel_count} and its {vowel_found}")

The vowel count is 5 and its ['a', 'e', 'i', 'a', 'i']

In [10]:
#Q14.
# Sample 2D list
two_d_list = [
    [5, 12, 8],
    [23, 14, 6],
    [7, 18, 9]
]

# Initialize max_element to the first element of the 2D list
max_element = two_d_list[0][0]

# Iterate through each sublist and element to find the maximum
for sublist in two_d_list:
    for element in sublist:
        if element > max_element:
            max_element = element

# Print the maximum element found
print(f"The maximum element in the 2D list is: {max_element}")

The maximum element in the 2D list is: 23

In [7]:
#Q15.
original_list=[1,2,3,4,5,6,7,8,9]
element_to_remove=int(input())
new_list= [i for i in original_list if i != element_to_remove]
print(f"old list : {original_list} ")
print(f"new list :{new_list}")

old list : [1, 2, 3, 4, 5, 6, 7, 8, 9]
new list :[1, 2, 3, 4, 6, 7, 8, 9]

In [30]:
#Q16
for num in range(1,6):
    for i in range(1,5):
        print(num*i,end=' ')
    print()

1 2 3 4
2 4 6 8
3 6 9 12
4 8 12 16
5 10 15 20

In [12]:
#Q17.
fahrenheit_temperatures=[32,55,60,78,99]
celsius_temperatures= [(o-32)*5//9 for o in fahrenheit_temperatures]
print(f"fahrenheit Temperature : {fahrenheit_temperatures}")
print(f"celsius temperatures : {celsius_temperatures}")

fahrenheit Temperature : [32, 55, 60, 78, 99]
celsius temperatures : [0, 12, 15, 25, 37]

In [13]:
#Q18.
list1=[1,1,2,3,4,4,]
list2=[2,2,3,4,5,6]
common_element=[]
for num1 in list1:
    for num2 in list2:
        if num1==num2:
            common_element.append(num1)
print(f"the common number in the list is : {common_element}")

the common number in the list is : [2, 2, 3, 4, 4]

In [17]:
#Q19.
for i in range(5):
    for m in range(i+1):
         print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [3]:
#Q20.
num1= int(input())
num2=int(input())
if num1<num2:
    smallest_num = num1
else:
    smallest_num = num2
gcd=1
for i in range(1,smallest_num+1):
    if num1 % i == 0 and num1 % i ==0:
        gcd= i 
print(f"The gcd of {num1} and {num2} is {gcd}")

The gcd of 10 and 5 is 5

In [5]:
#Q21.
# Input a list of numbers
numbers = [123, 45, 678, 9]
sum_of_digits=[sum(int(digits) for digits in str(i)) for i in numbers]
print(f"original list :{numbers}")
print(f"sum of no. : {sum_of_digits}")

original list :[123, 45, 678, 9]
sum of no. : [6, 9, 21, 9]

In [11]:
#Q22.
num=int(input())
prime=[i for i in range(2,int(num**0.5)+1) if num % i ==0]
print(prime)

[2, 4, 5, 10]

In [1]:
#Q23.
number12=[1,1,1,2,3,4,4]
list4=[i for i in number12 if number12.count(i)==1]
print(f'the original list is : {number12}')
print(f'The new list is : {list4}')

the original list is : [1, 1, 1, 2, 3, 4, 4]
The new list is : [2, 3]

In [17]:
#Q24.
a1=input()
print(f"The string is {'a palindrome' if a1==a1[::-1] else 'not a paindrome '}")

The string is a palindrome

In [25]:
#Q25.
number99=[1,2,[1,3],5,[4,5]]
numqq=[item for sublist in number99 for item in (sublist if isinstance(sublist,list) else [sublist])] 
print(f"here is flatten list : {numqq}")

here is flatten list : [1, 2, 1, 3, 5, 4, 5]

In [1]:
#Q26.
a1=[1,2,3,4,5,6,7,8,9,10]
even_number=[i for i in a1 if i %2==0 ]
odd_number= [i for i in a1 if i % 2!=0]
sumn = sum(even_number)
sum_a = sum(odd_number)
print('sum if even number is',sumn)
print('sum of odd number is',sum_a)

sum if even number is 30
sum of odd number is 25

In [13]:
#Q27.
a22=list(range(1,11))
list99=[i*i for i in a22 if i %2!=0]
print(list99)

[1, 9, 25, 49, 81]

In [18]:
#Q28.
keys = ['a', 'b', 'c']
values = [1, 2, 3]
a29={keys[i]: values[i] for i in range(len(keys))}
print(a29)

{'a': 1, 'b': 2, 'c': 3}

In [2]:
#Q29.
d22="hello world i'm ankit"
d24=[i for i in d22 if i in 'aeiou']
print(d24)

['e', 'o', 'o', 'i', 'a', 'i']

In [4]:
#Q30.
char1=["ankit12","kumar12","1234"]
char2 = [char for i in char1 for char in i if char.isnumeric()]
print(char2)

['1', '2', '1', '2', '1', '2', '3', '4']

In [ ]:
#challengeing level

In [ ]:
#Q31.

In [14]:
#Q32.
limit = 20
pythagorean_triplets = [(a, b, c) for c in range(1, limit + 1) for b in range(1, c) for a in range(1, b) if a**2 + b**2 == c**2]
print(pythagorean_triplets)

[(3, 4, 5), (6, 8, 10), (5, 12, 13), (9, 12, 15), (8, 15, 17), (12, 16, 20)]

In [4]:
#Q33.
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

# Use list comprehension to generate combinations
combinations = [(x, y) for x in list1 for y in list2]

print(combinations)

[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

In [5]:
#Q34.
import statistics
number=[1,2,3,4,5,6,7,8]
mean = statistics.mean(number)
median=statistics.median(number)
mode=statistics.mode(number)
print(f"original list of number :{number}")
print(f"mean : {mean}")
print(f"median : {median}")
print(f"mode : {mode}")

original list of number :[1, 2, 3, 4, 5, 6, 7, 8]
mean : 4.5
median : 4.5
mode : 1

In [1]:
#Q36.
import math 
aww=[sum(int(digit) for  digit in str(math.factorial(n))) for n in range(1,6)]
print(f"{aww}")

[1, 2, 6, 6, 3]

In [6]:
#Q37.
swnt=input()
yy=[max((word for word in swnt.split() ),key=len)]
print(f"all thr words are :{swnt}")
print(f"longest word : {yy}")

all thr words are :india america
longest word : ['america']

In [9]:
sw=[sum(int(digit) for digit in str(n)) for n in range(1,1001)]
print(sw)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 1]